<!DOCTYPE html>
<html>
  <head>
    <meta http-eqiv="content-type" content="text/html;charset=utf-8">
    <title>Go dengan Contoh: Tidak Ditemukan</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go dengan Contoh</a></h2>
      <p>Halaman tidak ditemukan <a href="./">home page</a>?</p>
      <p class="footer">
        oleh <a href="https://prahesa.id">Prahesa K Setia</a> | <a href="https://github.com/hesahesa/gobyexample">kode sumber</a> | <a href="https://github.com/hesahesa/gobyexample#license">lisensi</a>
      </p>
    </div>
  </body>
</html>
