<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Go dengan Contoh">
    <meta property="og:title" content="Go dengan Contoh">
    <meta property="og:description" content="Go adalah sebuah bahasa pemrograman open source yang didesign untuk membuat software simpel, cepat, dan dapat diandalkan.">
    <meta property="og:url" content="http://gobyexample.prahesa.id/">
    <meta property="og:locale" content="id_ID">
    <meta property="og:image" content="http://gobyexample.prahesa.id/favicon.ico">
    <title>Go dengan Contoh</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go dengan Contoh</a></h2>
      <p>
        <a href="http://golang.org">Go</a> adalah sebuah
        bahasa pemrograman open source yang didesign untuk
        membuat software simpel, cepat, dan dapat diandalkan.
      </p>

      <p>
        <em>Go dengan Contoh</em> adalah pengenalan praktik
        untuk Go dengan menggunakan contoh program dengan komentar. Silakan cek
        <a href="hello-world">contoh pertama</a> atau
        lihat-lihat daftar lengkap di bawah ini.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}">{{.Name}}</a></li>
      {{end}}
      </ul>
      <p class="footer">
        oleh <a href="http://prahesa.id">Prahesa K Setia</a> | <a href="https://github.com/hesahesa/gobyexample">kode sumber</a> | <a href="https://github.com/hesahesa/gobyexample#license">lisensi</a>
      </p>
    </div>
  </body>
</html>
