<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go dengan Contoh</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go dengan Contoh</a></h2>
      <p>
        <a href="http://golang.org">Go</a> adalah sebuah
        bahasa pemrograman open source yang didesign untuk
        membuat software simpel, cepat, dan dapat diandalkan.
      </p>

      <p>
        <em>Go dengan Contoh</em> pengenalan praktik
        untuk Go dengan menggunakan contoh program dengan komentar. Silakan cek
        <a href="hello-world">contoh pertama</a> atau
        lihat-lihat daftar lengkap di bawah ini.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}.html">{{.Name}}</a></li>
      {{end}}
      </ul>
      <p class="footer">
        oleh <a href="https://prahesa.id">Prahesa K Setia</a> | versi bahasa Inggris <a href="https://markmcgranaghan.com">Mark McGranaghan</a> | <a href="https://github.com/hesahesa/gobyexample">kode sumber</a> | <a href="https://github.com/hesahesa/gobyexample#license">lisensi</a>
      </p>
    </div>
  </body>
</html>
